limelight-common/ARM/
limelight-common/Debug/
Build/
**/xcuserdata/
limelight-common/Release/
*.sdf
*.suo
limelight-common/limelight-common.vcxproj.user
_deps
CMakeFiles
corrosion
Makefile
libiroh*
CMakeCache.txt
cmake_install.cmake
generate_headers
compile_commands.json
*.dylib